<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет News -->
{% block title %}
Новость
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, ID которой было передано в адрес -->
{% block content %}
<h1>Новость</h1>
<h2>Заголовок</h2>
<p>{{ news.post_header|censor }}</p>
<h2>Дата публикации</h2>
<p>{{ news.input_date_time|date:'d.m.Y h:m' }}</p>
<h2>Текст</h2>
<p>{{ news.post_body|censor }}</p>
{% endblock content %}
